@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Regular.ttf") format("truetype");
}

:root {
  --main-color: #0065fc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  outline: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
/*--------------------------------------------------header---------------------------------------------------------------------------------*/
header {
  /*position: fixed;*/
  max-width: 1330px;
  margin: 0 auto;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .nav a {
  padding: 10px 10px;
  border-radius: 10px;
}
/*---------------------------------------------slogan--------------------------------------------------------------------------------------------------- */
.slogan {
  padding: 20px 20px;
}

/* ---------------------------------------------form recherche emplacement----------------------------------------------------------------------------- */
.form_search {
  display: flex;
}
.emplacement {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  text-align: center;
  background: #f2f2f2;
  border-radius: 10px 0 0 10px;
}
.btn {
  width: 100px;
  height: 50px;
  border: none;
  background: var(--main-color);
  border-radius: 0 10px 10px 0px;
}
/* ---------------------------------------------------filtre-------------------------------------------------------------------------- */
.filtre  {
  border: 2px solid;
  border-radius: 10px;
  width: 75%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
/* -------------------------------------------------partie header menu logo haut fini---------------------------------------------------------------------------*/
.checked {
  color: rgb(147, 138, 228);
}
/* ---------------------------------------------------main hebergement activite----------------------------- */
.main {
  max-width: 1330px;
  margin: 0 auto;
}
/* -----------------------------------------------------bas--------------------------------------------------- */
.bas {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.top-part {
  display: flex;
}
/* ---------------------------------------------------gauche hebergement--------------------------------------*/
.gauche {
  background-color: #f2f2f2;
  border-radius: 25px;
  padding: 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 70%;
}

.image {
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 8px solid white;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 30px;
}

.image img {
  width: 100%;
  object-fit: cover;
  height: 115px;
}
/* ------------------------------------------------droite activite------------------------------------------------------- */
.droite {
  margin-left: 30px;
  background-color: #f2f2f2;
  border-radius: 25px;
  display: flex;
  width: 30%;
  flex-direction: column;
  padding: 35px;
}
.droite .image {
  width: 100%;
  flex-direction: row;
}

.droite .image img {
  width: 50%;
}

.rate {
  background: #fff;
  width: 200px;
  border-radius: 5px;
}

footer {
  flex-shrink: 0;
  border-top: 1px;
  width: 100%;
  background: #1f1f1f1f;
  color: #333;
}
.contenu_footer {
  width: 1330px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 20px;
  padding: 50px 0 100px;
}

.col {
  width: 33%;
}
.col li {
  list-style-type: none;
  padding: 5px;
}
.col a {
  text-decoration: none;
}

.row {
  display: flex;
}

.filter {
  display: flex;
  align-items: center;
  border: 3px solid grey;
  border-radius: 25px;
  height: 50px;

  width: fit-content;
}

.filter .icone {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  background: #deebff;
  border-radius: 50%;
  margin: -3px;
}

.filter span {
  padding: 0 10px;
}
