*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Raleway', sans-serif;
    text-decoration: none;
    outline: none;
    text-transform: capitalize;
    transition: all .2s linear;

}
/*--------------------------------------------------header---------------------------------------------------------------------------------*/
header{
    /*position: fixed;*/
    top: 0;left: 0; right: 0;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 7%;
    z-index: 1000;
}
header .nav a{
    padding: 10px 10px;
    border-radius: 10px;
}
/*---------------------------------------------slogan--------------------------------------------------------------------------------------------------- */
.slogan{
  padding: 20px 20px;
}

/* ---------------------------------------------form recherche emplacement----------------------------------------------------------------------------- */
.form_search{
  padding: 10px 10px;
  margin: 10px 10px;
}
/* ---------------------------------------------------filtre-------------------------------------------------------------------------- */
.filtre input{
  border-radius: 10px;
  width: 200px;
  height: 40px;
  display:;
  margin: 15px ;
}
/* -------------------------------------------------partie header menu logo haut fini---------------------------------------------------------------------------*/
.checked{
    color: rgb(147, 138, 228);
}

.gauche {
   
   border: 1px rgb(145, 16, 16) solid;
   background-color: gray;
   width: 60%;
   height: ;
   padding: 48px 64px;
   position: relative;
   z-index: -1;
}
section img{
    position: relative;
    top: 59px;
   border:5px #fff solid;
   border-radius: 5px;
    z-index: -1;
}
.rate{
    background: #fff;
    width: 200px ;
    border-radius: 5px;
}



footer{
    flex-shrink: 0;
    border-top: 1px;
    width: 100%;
    background:#1f1f1f1f ;
    color: #333;
}
.contenu_footer{
    width: 1200px;
    margin: 0 auto;
    display:flex ;
    justify-content:center ;
    align-items:flex-start ;
    font-size: 20px ;
    padding:50px 0 100px ;
}



.col{
    padding: 20px 100px;
}
.col li {
    list-style-type: none;
    padding: 5px;
    
}
.col a {
    text-decoration: none;
}


.droite {
    border: 1px gainsboro;
    width: 30%;
    padding: 26px 111px;
}
.row{
    display: flex;
}